@model DOANCOSO.Identity.AppUser

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2 style="font-weight:bold; text-align:center;color:blue;" >MyProfile</h2>

<div>
    
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            Mã:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            Tên Khách Hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            Số Điện Thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
           Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p style="text-align:center;font-weight:bold;color:blue;">
    
    @Html.ActionLink("Trở Lại", "Index","Home")
</p>
<style>
    .dl-horizontal dd {
        float: right;
        margin-top: -29px;
        margin-right: 30px;
        font-weight:bold;
        color:black;
    }
    .dl-horizontal dt {
        margin-left: 10px;
        font-weight:bold;

        color:blue;
    }
    .dl-horizontal {
        margin-left: 400px;
        border: 2px solid black;
        margin-right: 434px;
    }

</style>
