
@model DOANCOSO.Models.ChiTietDonHang

@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>ChiTietDonHang</h2>

<p>Cảm ơn bạn đã đặt hàng</p>
<h3>Thông Tin Đặt Hàng</h3>
<p><strong>Mã Đặt Hàng:</strong> @Model.MaDonHang</p>
<p><strong>Số Lượng:</strong>@Model.</p>
<p><strong>Tổng Thanh Toán:</strong> @Model.DonGia</p>

    @Model.DonHang
    {
        <tr>
            <td>@Model.MaSach</td>
            
            <td>@Model.SoLuong</td>
            <td>@Model.DonGia</td>
        </tr>
    }
