@using DOANCOSO.Models
@model List<GioHang>
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<a href="@Url.Action("GioHang","GioHang")"><i class="fa fa-shopping-cart"></i> (@ViewBag.TongSoLuong)</a>


SỬA GIỎ HÀNG
<h2>Giỏ hàng của bạn</h2>
<table id="divGioHang">
    <tr>
        <td>Mã Sách</td>

        <td>Tên Sách</td>

        <td>Ảnh Bìa</td>

        <td>Đơn Giá</td>

        <td>Số Lượng</td>

        <td>Thành Tiền</td>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>@item.iMaSach</td>

            <td>@item.sTenSach</td>

            <td><img src="@Url.Content("~/imagesProducts/"+item.sAnhBia)" width="70" height="70" /></td>

            <td>
                @String.Format("{0:0,0}", item.dDonGia) VND
            </td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMaSach }))
            {

                <td>@Html.TextBox("txtSoLuong", @item.iSoLuong)</td>
                <td>@String.Format("{0:0,0}", item.ThanhTien) VND</td>
                <td>
                    <input type="submit" value="Cập nhật" style="background-color:lawngreen" />
                    @*Xóa giỏ hàng gọi về Action XoaGioHang*@
                    <br />
                    <div class="XoaGioHang" style="background-color:red;color:white">
                        @Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMaSach })
                    </div>
                </td>


            }



        </tr>

    }
</table>
<style>
    #divGioHang {
        border: 1px solid #EEEEEE;
        margin-left: 10%;
    }

        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }
</style>



