@using DOANCOSO.Models
<link href="~/Content/TrangChu.css" rel="stylesheet" />
@model List<Sach>
@{
    ViewBag.Title = "SachTheoNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<div id="divBody" style="background-color:white">
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <a href="@Url.Action("XemChiTiet","Sach", new {@masach = item.MaSach})"> <div id="AnhBia"><img src="@Url.Content("~/imagesProducts/"+item.AnhBia)" width="100" height="150" /></div></a>
            <div id="ThongTin">
                @if (item.TenSach.Length < 35)
                {
                    <div id="TenSach" title="@item.TenSach">@item.TenSach</div>
                }
                else
                {
                    <div id="TenSach" title="@item.TenSach">@item.TenSach.Substring(0, 35) ...</div>
                }
                <div id="DonGia" style="color:orange"><font color="Green">Giá: </font>@String.Format("{0:0,0}", @item.GiaBan) VND </div>
            </div>
            <div id="GioHang">
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" style="cursor: pointer; background-color: rgba(255, 179, 0, 1)" value="Mua Hàng" id="btnGioHang" class="btn btn-primary" />
                }
            </div>
        </div>
        if (i % 3 == 0)
        {
            <div style="clear:both"></div>
        }
    }
</div>
<div style="clear:both"></div>
@*<style>
    #SanPham {
        float:left;
        width:250px;
        margin-left:10%;
        margin-top:10px;
    }
             #SanPham img {
                 width: 200px;
                 height: 200px;
                 padding-top: 15px;
                 padding-bottom: 15px;
             }

             #ThongTin {
                 border: 1px solid rgba(0,0,0.2);
                 padding: 0 15px 15px 15px;
                 font-family: "Segoe UI";
                 font-size: 18pt;
                 font-weight: 400;
             }

             /*Div ten sach*/
             #TenSach {
                 padding: 5px;
                 height: 80px;
             }

             #DonGia {
                 padding: 5px;
                 font-size: 13pt;
                 border-top: 1px solid rgba(0,0,0.2);
             }
         </style>*@



